* {
 box-sizing: border-box;
 font-family: 'Assistant', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
 }

body{
	width: 100%;
	margin: 0%;
	background-color: #ffffff;

}

header{
	background-image: linear-gradient(to bottom right, #13322B, #559E16, #A5DA77);
	color: white;
	display: flex; border-right: 
	margin-left: 5%;
	margin-right: 5%;
	width: 100%;
	height: 5%;
}

.tablas{
	margin-left: 20px;
	margin-right: 20px;

}

.menu{
	color: white;
	padding: 15px;
	text-decoration: none;
	width: 100%;
	float: right;
}

menu.a{
	float: right;
}

.select-complete{
	width: 100%;
	text-align: center;
}

.select{
	float: left;
	margin: 10px;
	width: 20%;
	height: 3%;
	background-color: lightgreen;
	border-radius: 15px;
	text-align: center;
}

.select p{
	float: left;
	margin: 5px;
	text-align: center;
}

table{
	width: 100%;
	border: 1px solid black;
  	border-collapse: collapse;
}

th{
	text-align: left;
	font-size: 20px;
	border: 1px bold black;
	border: 1px solid black;
  border-collapse: collapse;
  background-color: lightgray;
}

td{
	border: 1px solid black;
  	border-collapse: collapse;
}